body{
    background-color:#FFFFFF;
}

li{
	text-decoration: none;
  font-family: helvetica;
	color: black;
  font-size: 12pt;

}

h1{
  font-size: 45pt;
  font-family: helvetica;
  font-style: bold;
}

h2{
  font-size: 30pt;
  font-family: helvetica;
  font-style: bold;
}
h3{
  font-size: 25pt;
  font-family: helvetica;
  font-style: normal;
}
h4{
  font-size:20pt;
  font-family: helvetica;
  font-style: italic;
}

p{
  font-size: 14pt;
  font-family: helvetica;
}

nav{
  display: grid;
  background-color:#606772;
  grid-template-columns: 5;
}

nav a{
  grid-column-start:1;
  grid-column-end: 5;
  text-decoration: none;
  font-family: helvetica;
  letter-spacing: 2px;
  font-size: 16pt;
  color: white;
}

.footer{
  background-image: image("footer.png");
  background-color: #606772;
  color: white;
}
.unit{
  display: inline-block;
  position: relative;
}

.current{
  text-transform: uppercase;
  font-style: bold;
  font-family: helvetica;
  color: white;
}

.profile img{
	width: 90%;
}

.profile{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}

.mainpageimages img{
  width: 50%;
}

.mainpageimages{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.projectsection img{
  display: flex;
  width: 90vw;
  justify-content: space-around;
}

.projectsection{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.allprojects{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

img{
  display:flex;
  justify-content: space-between;
  flex-shrink: 1;
}

@media (prefers-reduced-motion: reduce){
	.animation:hover{
		-webkit-animation-name: none;
	}
}

@media screen and (min-width:700px){

  .mainpageimages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .gallerycontent{
    flex-direction: row;
  }
	.projectsection{
		flex-direction: row;
	}
	.projectsection img{
		width: 30%;
  }
    .allprojects{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
  }
}



@media screen and (min-width:1200px){
  .mainpageimages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .gallerycontent{
    flex-direction: row;
  }
  .projectsection{
		flex-direction: row;
	}
	.projectsection img{
		width: 50%;
  }
  .allprojects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
